/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.close {
	background: url(../images/close.png);
	position : absolute;
	top : 0px;
	right : 0px;
	width : 40px;
	height : 40px;
}

.close-hover {
	background: url(../images/close-hover.png)!important;
}

body {
	background: url(../images/classy_fabric.png);
	color: white;
	font-size: 20px;
	font-family: "Terminal Dosis", sans-serif;
	text-shadow: 
		1px 1px 0 transparent,
		2px 2px 0 #101010;
	overflow: hidden;
}
h1 {
	font-size: 75px;
	font-weight: bold;
	line-height: 1.5em;
	width : 500px;
	text-shadow: 
		2px 2px 0 transparent,
		4px 4px 0 #101010;
}

a, a:visited {
	color: white;
	text-decoration: none;
	border-bottom: 2px dotted;
	transition: color 0.2s;
}

a:hover {
	color: #AAA;
}

a:active {
	color: lightblue;
}

.big {
	display: block;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-shadow: 
		2px 2px 0 transparent,
		4px 4px 0 #101010;
}

.wrapper div {
	position: absolute;
}

.sp-canvas {
	display: none;
}

.description {
	top: 740px;
	left: 180px;
	width: 540px;
}

.syntax {
	top: 1510px;
	left: 280px;
	width: 800px;
}

.scrollbar {
	top: 1300px;
	left: 1400px;
	width: 800px;
}

.rotations {
	left: 2000px;
	top: 660px;
	width: 460px;
	transform: rotate(-90deg) translateY(2.5em);
}

.rotations .upside-down {
	font-size: 42px;
	text-align: right;
	transform: rotate(180deg) translateY(3em);
}

.source {
	left: 2100px;
	top: -1000px;
	width: 400px;
	transform: rotate(90deg) translateX(50px);
}

.follow {
	width: 775px;
	left: 800px;
	top: -750px;
	transform: rotate(90deg) translateX(50px);
}

.highlight {
	animation: highlight 0.2s alternate 6 ;
}

@keyframes point-down {
	from {
		top: 0;
	}
	to {
		top: 5px;
	}
}

@keyframes highlight {
	to {
		background: lightblue;
	}
}
